@charset "UTF-8";

* { 
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

header { 
   background-color: #270066;
   text-align: center;
   padding: 20px;
   box-shadow: 0px 0px;
   min-height: 150px;
}

#btnhome {
    padding-top: 10px;
    padding-bottom: 30px;
}

#btnhome > a { 
    
    font-size: 2em;
    color: white;
    text-decoration: none;
}

#btnhome > a:hover { 
    color: rgba(255, 255, 255, 0.703);
}

.botoes { 
    background-color: #8546EA;
    color: black;
    text-decoration: none;
    padding: 10px;
    border-radius: 7px;
    box-shadow: 2px 4px 5px black;
} 

.botoes:hover { 
    color: transparent;
    transition-duration: 0.7s;
}

#sccp:hover { 
    background-image: url(imagens/imagens/brasao108.png);
    border-radius: 50px;
}

#santos:hover { 
    background-image: url(imagens/imagens/santos73.png);
    border-radius: 50px;
}

#flu:hover { 
    background-image: url(imagens/imagens/fluminense102.jpg);
    border-radius: 50px;
}

#psg:hover { 
    background-image: url(imagens/imagens/psg53.jpg);
    border-radius: 50px;
}

#camisasccp { 
    display: inline-block;
    border: 2px solid black;
    border-radius: 10px;
    background-color: #4400B3;
    width: 300px;
    height: 300px;
    margin-top: 30px;
    background-image: url(imagens/imagens/camisetacorinthians250.png);
    background-repeat: no-repeat;
    background-position: center center;
    box-shadow: inset -5px 5px 20px 0px;
    margin-left: 10px;
}

.btncomprar {
    color: white;
    padding-top: 10px;
    padding-left: 120px;
    padding-bottom: 10px;
    background-color: #8546EA;
    box-shadow: -1px 3px 3px black;
    width: 180px;
    border-radius: 10px;
    margin-left: 10px;
}

.btncomprar > a { 
    text-decoration: none;
    color: white;
}

.btncomprar > a:hover { 
    color: rgba(255, 255, 255, 0.494);
}

.btncomprar:hover { 
    background-color: #270066;
    color: rgba(255, 255, 255, 0.494);
}

footer { 
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 10px;
}

